<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title th:text="#{user.login}">登陆界面</title>
</head>
<body>
	<table id="loginTable" th:object="${user}" align="center">
		<tr>
			<th th:text="#{user.name}"></th>
			<td>
				<input th:field="*{name}" id="name" />
			</td>
		</tr>
		<tr>
			<th th:text="#{user.pwd}"></th>
			<td>
				<input type="password" th:field="*{pwd}" id="pwd" />
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<button id="loginBut" th:text="#{user.login.name}"></button>
				<button id="registerBut" th:text="#{user.register.name}"></button>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<a th:href="@{/mng/login(lang=zh_CH)}">中文</a>
				<a th:href="@{/mng/login(lang=en_US)}">English</a>
			</td>
		</tr>
	</table>
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript">
	$("#loginBut").click(function(){
		$.ajax({
			url:"/mng/loginUser",
			type:"post",
			data:{
				name:$("#name").val(),
				pwd:$("#pwd").val()
			},
			success:function(data){
				if(data == 1){
					window.location.href="/mng/user/show";
				}else{
					$("#name").append("&lt;span style='color: red;' th:text='#{user.login.prompt}'&gt;&lt;/span&gt;");
				}
			}
		});
	});
	$("#registerBut").click(function(){
		window.location.href="/mng/register";
	});
	</script>
</body>
</html>