<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title th:text="#{user.register}">注册界面</title>
</head>
<body>
	<form action="/mng/registerUser"  th:object="${user}" method="post">
		<table align="center">
			<tr>
				<th><span th:text="#{user.name}"></span></th>
				<td>
					<input th:field="*{name}"/>
					<span style="color: red" th:errors="*{name}"></span>
				</td>
			</tr>
			<tr>
				<th><span th:text="#{user.pwd}"></span></th>
				<td>
					<input type="password" th:field="*{pwd}" />
					<span style="color: red" th:errors="*{pwd}"></span>
				</td>
			</tr>
			<tr>
				<th><span th:text="#{user.age}"></span></th>
				<td>
					<input th:field="*{age}" />
					<span style="color: red" th:errors="*{age}"></span>
				</td>
			</tr>
			<tr>
				<th><span th:text="#{user.birth}"></span></th>
				<td>
					<input th:field="*{birth}" placeholder="请按照yyyy-MM-dd格式" />
					<span style="color: red" th:errors="*{birth}"></span>
				</td>
			</tr>
			<tr>
				<th><span th:text="#{user.gender}"></span></th>
				<td>
					<input type="radio" th:field="*{gender}" value="1"/><span th:text="#{user.gender.one}"></span>
					<input type="radio" th:field="*{gender}" value="0"/><span th:text="#{user.gender.zero}"></span>
					<span style="color: red" th:errors="*{gender}"></span>
				</td>
			</tr>
			<tr>
				<th><span th:text="#{user.email}"></span></th>
				<td>
					<input th:field="*{email}"/>
					<span style="color: red" th:errors="*{email}"></span>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button type="button" id="loginButton" th:text="#{user.login.name}"></button>
					<button type="submit" th:text="#{user.register.name}"></button>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<a th:href="@{/mng/register(lang=zh_CH)}">中文</a>
					<a th:href="@{/mng/register(lang=en_US)}">English</a>
				</td>
			</tr>
		</table>
	</form>
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript">
		$("#loginButton").click(function(){
				window.location.href="/mng/login";
		});
	</script>
</body>
</html>