<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title th:text="#{user.success}">注册成功</title>
</head>
<body>
	<span th:text="#{user.success.wish}"></span>
	<span th:text="${name}"></span> <span th:text="#{user.success}"></span>
	<br />
	<a th:href="@{/mng/login}" th:text="#{user.login.name}"></a><span th:text="#{user.success}"></span>
	<a th:href="@{/mng/register}" th:text="#{user.register.name}"></a>

	<script type="text/javascript">
	/* 捕获不到页面刷新事件 */
/* 	window.onbeforeunload = function(event) {
		 event.returnValue = "我在这写点东西...";
		 alert(123);
		}; */
		/*  window.addEventListener("beforeunload", function(event) {
			 alert(123);
			 event.returnValue = "我在这写点东西...";
			});  */
		/* window.onunload = function() {
				 alert(123);
			  // dosomethings
			 }; */
/* 	$(function(){
	    jQuery('#proSelected').trigger("change");
	    jQuery('#proSelected').bind('change',function(){
	        var value = jQuery(this).val(); 
	        console.log('value: ' + value);
	        getProName(value);
	    });
	}); */
	</script>
</body>
</html>