<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<title>LoginDemo</title>
</head>
<body>

	<div class="panel loginbox">
		<div class="text-center margin-big padding-big-top">
			<h1>后台管理中心</h1>
			<h4 style="color: #FF0000" id="erro1"></h4>
		</div>
		<div class="panel-body">
			<input type="text" name="username" id="username" placeholder="登录账号" />
			<input type="password" name="password" id="password" placeholder="登录密码" />
		</div>
		<div>
			<input type="button" onclick="sendAjax()" value="登录" id="ajaxLogin" />
		</div>
	</div>
	<script src="/jquery-3.2.1.min.js"></script>
	<script>
		function sendAjax() {
			var username = $("#username").val();
			var password = $("#password").val();
			$.ajax({
				url : "/ajaxLogin",
				data : {
					"username" : username,
					"password" : password
				},
				type : "post",
				dataType : "json",
				success : function(data) {
					if (data.status == 200) {

						location.href = "/index";
					} else if (data.status == 400) {
						location.href = "/lock";
					} else if (data.status == 100) {
						$("#erro1").html("密码错误，您还有：" + data.lefttime + " 次机会");
					} else if (data.status == 500) {
						$("#erro1").html(data.message);
					} else if (data.status == 300) {
						$("#erro1").html(data.message);
					} else {
					}

				},
				error : function() {
					$("#erro").html("登录失败");
				}
			});
		}
	</script>
</body>
</html>
